#event-card-container{
  /* border: 1px solid black; */
  border-radius: 15px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
  background-color: #fff;
  margin: 15px 0;
  cursor: pointer;
  min-width: 620px;
  min-height: 260px;
  height:fit-content;
}

.event-card-upper{
  width:100%;
  height: fit-content;
  display: flex;
  height: 80%;
 
}
#image-div{
  overflow: hidden;
  width:240px;
  margin-right:20px;
}
.event-card-upper img{
  height:160px;
}
.event-image-preview{
  display: block;
  height:100%;
  margin-right: 15px;
}

.event-card-upper-right{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.event-card-upper-right > *{
  margin-bottom: 10px;

}



#event-city{
  color:gray;
}

#event-card-date-time{
  display: flex;
  color: #0f6767;
  align-items: center;
}

#event-card-dot p{
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;

}

.event-card-lower {
  width: 100%;
  max-height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}